* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  min-height: calc(100vh - 200px); /* header + footer = 200px */
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.2);
  padding: 22px 0;
  text-align: center;
}
